.wrapper {
  position: relative;
}

.content {
  position: relative;
  padding: 9.25rem 0 4rem 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.newArrival {
  max-width: 100%;
  height: auto;
}

.nftCardsWrapper {
  --nft-card-wrapper-padding-t: 1rem;
  --nft-card-wrapper-padding-b: 2rem;
  --nft-card-featured-size: 570px;

  position: relative;
  background-color: #fbc625;
  padding-top: var(--nft-card-wrapper-padding-t);
  padding-bottom: var(--nft-card-wrapper-padding-b);
}

.nftCards {
  display: flex;
  gap: 2rem;
  width: 100%;
  flex-wrap: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
  padding-left: 1rem;

  @media (min-width: 64rem) {
    gap: 5rem;
  }
}

.nftCard {
  width: 200px;
  font-size: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  z-index: 100;

  &:hover {
    .nftCardImage {
      transform: translateY(8px) scale(1.04);
    }
  }
}

.nftCardImageWrapper {
  position: relative;
}

.nftCardImageWrapper:before,
.nftCardImageWrapper:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  background-color: #000;
  z-index: 1;
}

.nftCardImageWrapper:before {
  left: -10px;
  bottom: -10px;
}

.nftCardImageWrapper:after {
  background-image: url('/assets/hero-nft-bg.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #fbc625;
  z-index: 2;
  bottom: -1px;
}

.nftCardName {
  font-size: 1.125rem;
  font-weight: 700;
  font-family: var(--font-barlow);
  text-align: center;
  text-transform: uppercase;
}

.nftCardImage {
  position: relative;
  z-index: 3;
  object-fit: cover;
  transform: translateY(10px);
  transition: transform 0.2s ease-in-out;
  transform-origin: center bottom;
}

.nftCardFeatured {
  position: absolute;
  bottom: calc(-1 * var(--nft-card-wrapper-padding-b));
  right: 0;
  overflow: hidden;
  width: var(--nft-card-featured-size);
  height: var(--nft-card-featured-size);
  display: none;

  @media (min-width: 64rem) {
    display: block;
  }
}

.nftCardFeaturedImage {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: -80px;
  transform: rotateY(180deg);
}

.nftCardFeaturedName {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-image: linear-gradient(to right, #dd5afe, #6366f1);
  mask-image: url('/assets/image.svg');
  mask-size: contain;
  mask-position: center;
  mask-repeat: no-repeat;
}

.nftCardFeaturedName span {
  font-size: 4.5rem;
  font-weight: 700;
  color: var(--color-white);
}
